BasedOnStyle: Google
BreakBeforeBraces: Allman

IndentWidth: 4
TabWidth: 4
UseTab: Always

IndentAccessModifiers: true
AccessModifierOffset: 0

ReferenceAlignment: Right
PointerAlignment: Right
AlignConsecutiveDeclarations: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false